<form (ngSubmit)="register()">
  <h1 id="register-heading" style="margin: 0 auto;">Please register:</h1>
  <div class="form-group">
    <label for="login">Login:</label>
    <input type="text" id="login" [(ngModel)]="registerForm.login" name="login" required>
  </div>
  <div class="form-group">
    <label for="passwd">Password:</label>
    <input type="password" id="passwd" [(ngModel)]="registerForm.passwd" name="passwd" required>
  </div>
  <div class="button-group">
    <button type="submit">Register</button>
    <button type="button" (click)="navigateToLogin()">Login</button>
  </div>
</form>
