body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f4f8;
    margin: 0;
    font-family: Arial, sans-serif;
}

.logo{
    width: 150px;
    height: 150px;
    margin-bottom: 20px;
}